body {
  font-family: Arial, sans-serif;
  background-color: #F0F3F7;
  color: #fff;
}

.login-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #303947;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 10px;
  margin-right: 20px;
}

.login-form label {
  display: block;
  font-weight: bold;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-form .forgot-password {
  color: #999;
  text-decoration: none;
}

.login-form .form-group:last-child {
  margin-top: 20px;
}

.login-button {
  display: block;
  width: 100%;
  margin-right: 20px;
  padding: 10px;
  background-color: #444;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.login-button:hover {
  background-color: #666;
}
.signup-link{
  color: #fff;
}
